<!-- <div class="container">
    <div class="row">
        <div class="panel-heading">{{element.name}}</div>
    </div>
    <div class="panel-body">
        <p>
            <strong *ngIf="element.type === 'server'" style="color:red">{{element.content}}</strong>
            <strong *ngIf="element.type === 'blueprint'" style="color: blue;">{{element.content}}</strong>
        </p>
    </div>
</div> -->

<div class="container">
    <div class="row">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold">{{element.name}}</div>
              <div>
                <strong *ngIf="element.type === 'server'" style="color:red">{{element.content}}</strong>
                <strong *ngIf="element.type === 'blueprint'" style="color: blue;">{{element.content}}</strong>
              </div>
            </div>
            <span class="badge bg-primary rounded-pill">14</span>
          </li>
    </div>
</div>
