<div class="container">
    <div class="row">
        <div class="mb-3">
            <label class="form-label">Add new Server</label>
            <input type="text" class="form-control"  placeholder="Enter server Name" [(ngModel)]="newServerName">
          </div>
          <div class="mb-3">
            <label class="form-label">Add server Content</label>
            <input type="text" class="form-control"  placeholder="Enter server Content" [(ngModel)]="newServerContent">
          </div>
          <div class="mb-3">
              <button class="btn btn-primary me-2" (click)="onAddServer()">Add Server</button>
              <button class="btn btn-danger" (click)="onBlueprintCreated()">Add Server blueprint</button>
          </div>
    </div>
</div>

<div class="container my-3">
  <button class="btn btn-success me-2" (click)="showToasterSuccess()">
      Success Toaster
  </button>
    
  <button class="btn btn-danger me-2" (click)="showToasterError()">
      Error Toaster
  </button>
    
  <button class="btn btn-info me-2" (click)="showToasterInfo()">
      Info Toaster
  </button>
    
  <button class="btn btn-warning" (click)="showToasterWarning()">
      Warning Toaster
  </button>
</div>